<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4">
    <p>id: <%= @user.id %></p>
    <p>first_name: <%= @user.first_name %></p>
    <p>last_name: <%= @user.last_name %></p>
    <p>email: <%= @user.email %></p>
    <p>created_at: <%= @user.created_at %></p>
    <p>confirmed: <%= @user.confirmed? %></p>

    <p>
      active addresses (account)
      <br>
      make a payment to current address
    </p>

    <br>

    <p>link_to previous accounts</p>

    <br>

    <%= link_to 'Edit', edit_user_path(@user) %>
  </div>

  <div class="col-md-8">
    <p>payments received table</p>
  </div>
</div>

