<%= form_with(model: payroll, url: [@company, payroll]) do |form| %>
  <% if payroll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payroll.errors.count, "error") %> prohibited this payroll from being saved:</h2>

      <ul>
      <% payroll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class=col-md-4>
      <div class="field">
        <% form.label :admin_id %>
        <%= form.hidden_field :admin_id, value: current_admin.id %>
      </div>

      <div class="field">
        <% form.label :company_id %>
        <%= form.hidden_field :company_id %>
      </div>

      <div class="field">
        <%= form.label :batch_number %>
        <%= form.text_field :batch_number %>
      </div>

      <div class="field">
        <%= form.label :pay_period %>
        <%= form.text_field :pay_period %>
      </div>

      <div class="field">
        <%= form.label :notes %>
        <%= form.text_area :notes %>
      </div>
    </div>

    <div class=col-md-8>
      <p>Employees to pay</p>

      <% @users.each do |user| %>
        <%= form.fields_for :transactions do |transaction_form| %>
          <%= transaction_form.check_box :user, checked: true %>
          <strong><%= user.name %></strong> (<%= user.email %>)
          <%= transaction_form.hidden_field :user_id, value: user.id %>
          <%= transaction_form.hidden_field :user_email, value: user.email %>
          <br>
          <br>
          <%= transaction_form.label :to_address %>
          <%= transaction_form.text_field :to_address, value: '0xCCDD423A66d0e8bCF5026e15EBD709C54b3DA85d', size: 60 %>
          <br>
          <%= transaction_form.label :amount %>
          <%= transaction_form.text_field :amount %>
          <br>
          <%= transaction_form.hidden_field :currency_id, value: 1 %>
          <%= transaction_form.hidden_field :company_id, value: @company.id %>
          <%= transaction_form.hidden_field :company_name, value: @company.name %>
          <%= transaction_form.hidden_field :from_address, value: @company.account.address %>
          <hr>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
