<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @payroll.id %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @payroll.admin_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @payroll.company_id %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @payroll.notes %>
</p>

<p>
  <strong>Batch number:</strong>
  <%= @payroll.batch_number %>
</p>

<p>
  <strong>Pay period:</strong>
  <%= @payroll.pay_period %>
</p>

<p>
  <strong>List of transactions:</strong>
  <% @transactions.each do |transaction| %>
    <p><%= transaction.inspect %></p>
  <% end %>
</p>
