<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @payroll.id %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @payroll.admin_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @payroll.company_id %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @payroll.notes %>
</p>

<p>
  <strong>Batch number:</strong>
  <%= @payroll.batch_number %>
</p>

<p>
  <strong>Pay period:</strong>
  <%= @payroll.pay_period %>
</p>

<strong>List of transactions:</strong>

<% @transactions.each do |transaction| %>
  <div class="card card-body d-flex align-items-start shadow-sm mb-3">
    <div class="row">
      <div class="col-md-12 mb-3">
        transaction hash:
        <strong><%= transaction.result_hash %></strong>
      </div>

      <div class="col-md-3">
        <p>name: <%= transaction.user.name %></p>
        <p>user_email: <%= transaction.user_email %></p>
        <p>amount: <%= transaction.amount %></p>
      </div>

      <div class="col-md-9">
        <p>from address:<br><%= transaction.actual_from_address %></p>
        <p>to address:<br><%= transaction.to_address %></p>
      </div>
    </div>
  </div>
<% end %>
