<p id="notice"><%= notice %></p>

<h1>Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Company name</th>
      <th>User</th>
      <th>User email</th>
      <th>Payroll</th>
      <th>From address</th>
      <th>Currency</th>
      <th>Amount</th>
      <th>Notes</th>
      <th>Settled at</th>
      <th>Result Hash</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.company_id %></td>
        <td><%= transaction.company_name %></td>
        <td><%= transaction.user_id %></td>
        <td><%= transaction.user_email %></td>
        <td><%= transaction.payroll_id %></td>
        <td><%= transaction.from_address %></td>
        <td><%= transaction.currency_id %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.notes %></td>
        <td><%= transaction.settled_at %></td>
        <td><%= transaction.result_hash %></td>
        <td><%= link_to transaction.id, './transactions/' + transaction.id.to_s %></td>
      </tr>
    <% end %>
  </tbody>
</table>
